@use "../global/breakpoints" as b;
@import "../global/variables";

.content-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .computer {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    @include b.breakpoint("700") {
      min-width: 600px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      .details {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        font-size: 15px;

        p {
          font-size: 15px;
        }

        form {
          select {
            padding: 0.1rem 0.5rem;
            text-transform: capitalize;
            font-size: 15px;
            border-radius: 5px;
            background-color: $primary-color;
            color: white;
            border: none;

            option {
              border: none;
            }
          }
        }
      }
    }

    .datacomputer {
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
      justify-content: center;
    }
    .datadatabase {
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
      justify-content: center;
    }
    .datastorage {
      display: grid;
      grid-template-columns: 3.5fr 1fr 1fr;
      justify-content: center;
    }
    .datanetworking {
      display: grid;
      grid-template-columns: 3.5fr 1fr 1fr;
      justify-content: center;
    }
    .data {
      text-transform: capitalize;

      div {
        p {
          margin-bottom: 0.5rem;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid rgba(79, 79, 79, 0.135);
          font-size: 15px;

          &:first-child {
            border-bottom: 1px solid black;
            font-weight: 600;
          }
        }
      }
      .name {
        p {
          color: $primary-color;
          &:first-child {
            color: black;
          }
        }
      }
      .logo {
        p {
          svg {
            margin-bottom: -2px;
          }
        }
      }
    }

    .next-actions {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1rem;

      button {
        padding: 0.1rem 0.5rem;
        text-transform: capitalize;
        font-size: 15px;
        border-radius: 5px;
        background-color: rgba(245, 245, 245, 0.125);
        color: black;
        border: 1px solid rgba(139, 139, 139, 0.831);
        cursor: pointer;
        &.less {
          border: 1px solid rgba(27, 27, 239, 0.589);
        }
      }
      p {
        font-size: 15px;
      }
    }
  }
}
