@use "../global/breakpoints" as b;
@import "../global/variables";

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem;
  height: 95vh;

  @include b.breakpoint("1150") {
    grid-template-columns: 1fr;
    height: auto;
  }
}
